.App {
  text-align: center;
  padding-top: 10vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


.cont{
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(5,340px);
  box-sizing: content-box;
  padding: 0 20px 0 20px;
  justify-content: center;
}




@media (min-width:1950px){
  .cont{
    grid-template-columns: repeat(5,350px);
    grid-gap: 40px;
  }
}

@media (min-width:1800px) and (max-width:1949px){
  .cont{
    grid-template-columns: repeat(5,340px);
    grid-gap: 20px;
  }
}

@media (min-width:1700px) and (max-width:1799px){
  .cont{
    grid-template-columns: repeat(5,320px);
    grid-gap: 20px;
  }
}

@media (min-width:1450px) and (max-width:1699px){
  .cont{
    grid-template-columns: repeat(4,320px);
  }
}

@media (max-width:1449px){
  .cont{
    grid-template-columns: repeat(3,320px);
    grid-gap: 7vh;
  }
}

@media (max-width:1150px){
  .cont{
    grid-template-columns: repeat(2,320px)
  }
}

@media (max-width:1000px){
  .cont{
    grid-template-columns: repeat(2,320px)
  }
}




.tarj-img{
  border-radius: 3px 3px 0 0;
  display: block;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
}

.tarj-img:before{
  content: none;
}

.tarj-img:hover:before{
  content:"";
  background: linear-gradient(180deg,#24323866,#0000);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.tarj-img:hover .fav-icon{
  display: block;
}

.fav-icon{
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  line-height: 48px;
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}




.product-info-line{
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}


.updated::before{
  box-sizing: border-box;
  display: flex;
  border-bottom: 2px solid;
  border-radius: 1px;
  border-right: 2px solid;
  color:#fff;
  content:"";
  height: 12px;
  left: 10px;
  margin-left: 8px;
  margin-right: 12px;
  position: absolute;
  top: 5px;
  transform: rotate(45deg);
  width: 6px;
}


.product-links{
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}

.link-btn{
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  border-radius: 3px;
  color:white;
  padding: 0 20px;
  flex: 1;
  white-space: nowrap;

}

.link-btn1{
  background-color: rgb(122, 146, 158);
}

.link-btn1:hover{
  background-color: #607a87;
}

.link-btn2{
  background-color: rgb(0, 163, 255);
  margin-left: 20px;
}

.link-btn2:hover{
  background-color: #0d95e1;
}